body{
    height: 5000px;
}





header{
    position: fixed;
    width: 100%;
    background-color: white;
  top: 0px;
 
}





header li{
 list-style: none;
display: inline-block;
font-size: 0.85rem;
padding-top: 20px;
}
.header-sag{
    float: right;
    margin-right: 30px;
}

.header-sag li{
    margin: 15px;
}
.header-sag li a{
    text-decoration: none;
    color: #4F4F4F;}
#btn1 , #btn2:hover , #secbtn:hover {
    border: 2px solid #a62440;
    border-radius: 5px;
    background-color: white;
    color: #a62440;
    padding: 10px 10px;
}



    #btn1:hover , #btn2 , #secbtn{
        border: 2px solid #a62440;
        background-color: #a62440;
        color: white;
        padding: 10px 10px;
        border-radius: 5px;
    }

    .a1:hover{
        text-decoration:underline;
        color: #a62440;
    }



    .sol{ margin: 125px 30px 30px;
        float: left;
    }
    .sag img{
        float: right;
        width: 600px;
        margin: 150px 30px 30px;
        border-radius: 8px;
    
    }
    .clear{
        clear: both;
    }
    h1{
        color: #464646;
    }
    .p1{
        color: #5B5B5B;
    }
    #input1{
        border: 2px solid #a62440;
        background-color: #a62440 ;
        color: aliceblue;
        padding: 10px;
        border-radius: 5px;
    }
    #input1:hover{
        background-color: aliceblue;
        color: #a62440;
    }
    section{height: 300vh;
padding-top: 150px;
/* overflow: auto; */
/* border: 1px solid red; */

    }
    .sectionleft{
        
        float: left;
        width: 30%;
        height: 350px;
        padding-right: 20px;
        margin-left: 30px;
        position: sticky;
        top: 150px;
        
   box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    }
    .sectionright{
        float: right;
        width: 60%;
        padding-right: 20px;
    }
    .sectiona{
        text-decoration: none;
        color: #5B5B5B;
        
    
    }
    #secbtn{
        padding: 0 15px;
        width: 200px;
        height: 50px; 
   margin-left: 80px;
   margin-right: 60px;    
    
    }

    